@using System.Web.Configuration
@{
    ViewBag.Title = "Terms";
}

<div class="container body-content">
    <h2>Terms of Service and Privacy Policy</h2>
    <div id="text-container" class="container">
        <h3>1. Terms</h3>

        <p>By accessing the website at <a href="https://safetalk.azurewebsites.net">https://safetalk.azurewebsites.net</a>, you are agreeing to be bound by these terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>

        <h3>2. Use License</h3>

        <ol type="a">
            <li>
                Permission is granted to view and use this website for personal, non-commercial uses. This is the grant of a license, not a transfer of title, and under this license you may not:

                <ol type="i">
                    <li>use this site for any illegal activity, or to engage in defamation or intend to cause direct or indirect harm of an individual, group or entity;</li>
                    <li>use this site if you are under the age of 18 or the legal age in your governing area, whichever is older;</li>
                    <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
                    <li>attempt to decompile or reverse engineer any software contained on SafeTalk's website;</li>
                    <li>manipulate the source code of the website in any way;</li>
                    <li>attempt or succeed to block this service from others in any way, including with the use of bots, scripts or tools or manually;</li>
                    <li>interact with this website in a programmatic way;</li>
                    <li>remove any copyright or other proprietary notations from the materials; or</li>
                    <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
                </ol>
            </li>
            <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by SafeTalk at any time.</li>
        </ol>

        <h3>3. Disclaimer</h3>

        <ol type="a">
            <li>The materials on SafeTalk's website are provided on an 'as is' basis. SafeTalk makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties including, without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights.</li>
            <li>Further, SafeTalk does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</li>
        </ol>

        <h3>4. Limitations</h3>

        <p>In no event shall SafeTalk or its suppliers be liable for any damages (including, without limitation, damages as a result of sharing personal information, service interruptions, technological failures and/or malicious attacks against this network) arising out of the use or inability to use the materials on SafeTalk's website, even if SafeTalk or a SafeTalk authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>

        <h3>5. Accuracy of materials</h3>

        <p>The materials appearing on SafeTalk's website could include technical, typographical, or photographic errors. SafeTalk does not warrant that any of the materials on its website are accurate, complete or current. SafeTalk may make changes to the materials contained on its website at any time without notice. However SafeTalk does not make any commitment to update the materials.</p>

        <h3>6. Links</h3>

        <p>SafeTalk has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by SafeTalk of the site. Use of any such linked website is at the user's own risk.</p>

        <h3>7. Modifications</h3>

        <p>SafeTalk may revise these terms of service for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.</p>

        <h3>8. Governing Law</h3>

        <p>These terms and conditions are governed by and construed in accordance with the laws of WI and you irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
    </div>

    <h2>Privacy Policy</h2>
    <div id="text-container" class="container">
        
        <p>Your privacy is important to us.</p>

        <p>It is SafeTalk's policy to respect your privacy regarding any information that is sent through this website. Accordingly, we have developed this privacy policy in order for you to understand how we use, communicate, disclose and otherwise make use of personal information. We have outlined our privacy policy below.</p>

        <ul>
            <li>We have put in reasonable security safeguards to protect your identity while you use this website, however no form of communication is completely secure.</li>
            <li>We can not fully guarantee your information is 100% secure; please practice caution and do not share personal details such as addresses, bank accounts or other information that may identify you to a stranger.</li>
            <li>We use a combination of the username you choose, with a number of random digits to identify you as a user. This identification is used to perform essential functions of the website, including providing you 
            the ability to filter other user's messages, switch chat rooms, and to determine the total number of users on the site. This list of uses of this identification may not reflect new features that are currently in development.</li>
        </ul>

        <p>SafeTalk may change this privacy policy from time to time at SafeTalk's sole discretion.</p>
    </div>
</div>