@using System.Web.Configuration
@{
    ViewBag.Title = "Disclaimer";
}

<div class="container body-content">
    <h2>Disclaimer</h2>
    <div id="text-container" class="container">
        <h4>Terms of use</h4>
        <p>We do not assume any legal liability or responsibility in any respect to the content that
        may appear in the chat room. Additionally, while we have put in place certain measures and
        procedures to protect your identity while using this site, no form of online communication
        is completely secure. We do not assume responsibility for the loss, mistreatment or protection
        of information when using the chat room.</p>
    </div>
</div>