
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* need this so iOS doesn't zoom on input focus */
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] { font-size: 16px; }



html {height:100%;}
body {min-height:100%;display:flex;flex-direction:column;font-size:16px;}
footer {margin-bottom:10px;}
.content {flex-direction:column;justify-content:flex-start;margin:70px 40px 0px 40px;}
.center-content {display:inline-block;}
.center-contentparent {text-align:center;}
.alert-modal {margin:0 auto;}
.display-name {white-space:pre;font-weight:bold;}
.header-section {max-height:80px;}
.input-section {max-height:70px;}
.chat-room-section {max-height:40px;}
.section-middle {margin:15px 0;}
.mheight-90 {max-height:90px;}
.input-buttons {max-height:80px;margin-bottom:10px;}
.chat-space {flex: 3 !important;overflow-y:scroll;height:0px;} /* why height:0px? http://stackoverflow.com/questions/14962468/flexbox-and-vertical-scroll-in-a-full-height-app-using-newer-flexbox-api */
.flex {display:flex;flex:1;}
.flex-column {flex-direction:column;}
.flex-end {justify-content:flex-end;}
.justify-center {justify-content:center;}
.full-width {width:100%;}
.message-server {color:#b8b8b8;}
.message-warning {color:#ff0000;}
.message-cleared {color:#00ff00;}
.chat-invitations {margin-top:30px;}

@media(max-width:767px){
    h1, h2, h3 {margin-top:0px;}
    .chat-space {flex: 3 !important;flex-direction:column;}
    .input-section {max-height:85px;}
}
@media(max-width:340px){
    .input-section{max-width:290px;}
}
/* portrait-specific */
@media(max-height:414px){
    .chat-space {flex: 1 !important;flex-direction:column;}
}