@using System.Web.Configuration
@{
    ViewBag.Title = "About";
}

<div class="container body-content">
    <h2>About</h2>
    <div id="text-container" class="container">
        <p>https://safetalk.azurewebsites.net is a free and open chatroom for adults
        who are of the age of 18 and older who need a safe place to talk about what
        is whatever on their minds, free of judgement, stigma or ostracism.</p>

        <p>Please like our Facebook page <a href="https://www.facebook.com/safeplacetotalk/" target="_blank">SafeTalk</a> 
        and our sister page, <a href="https://www.facebook.com/freeofstigma/" target="_blank">Stigma Free</a></p>

        <p>If you would like to contact the webmaster of this site, please send a message on the SafeTalk Facebook page. The
        related developer comments are found on the <a href="/Log">log</a> page</p>
    </div>
</div>